.intro{
    background-color:#0d0b10;
    color: white;
    width:100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
}
a {
	text-decoration: none;
}

.hero {
    height: calc(100vh - 70px);
}
.wrapper{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
}
 .container .box {
	 width: 400px;
	 height: 400px;
	 position:absolute;
	 display: flex;
	 justify-content: center;
	 flex-direction: column;
}
 .container .box .title {
	 width: 100%;
	 position: relative;
	 display: flex;
	 align-items: center;
	 height: 70px;
}
 .container .box .title .block {
	 width: 0%;
	 height: inherit;
	 background: #cf9784;
	 position: absolute;
	 animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
	 display: flex;
}
 .container .box .title h1 {
	 font-family: 'Oswald';
	 color: #fff;
	 font-size: 64px;
	 -webkit-animation: mainFadeIn 2s forwards;
	 -o-animation: mainFadeIn 2s forwards;
	 animation: mainFadeIn 2s forwards;
	 animation-delay: 1.6s;
	 opacity: 0;
	 display: flex;
	 align-items: baseline;
	 position: relative;
}
 .container .box .title h1 span {
	 width: 0px;
	 height: 0px;
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 border-radius: 50%;
	 background: #cf9784;
	 -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
	 animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
	 animation-delay: 2s;
	 margin-left: 5px;
	 margin-top: -10px;
	 position: absolute;
	 bottom: 13px;
	 right: -12px;
}
 .container .box .role {
	 width: 100%;
	 position: relative;
	 display: flex;
	 align-items: center;
	 height: 30px;
	 margin-top: -10px;
}
 .container .box .role .block {
	 width: 0%;
	 height: inherit;
	 background: #cf9784;
	 position: absolute;
	 animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
	 animation-delay: 2s;
	 display: flex;
}
 .container .box .role p {
	 animation: secFadeIn 2s forwards;
	 animation-delay: 3.2s;
	 opacity: 0;
	 font-weight: 400;
	 font-family: 'Roboto';
	 color: #fff;
	 font-size: 18px;
	 text-transform: uppercase;
	 letter-spacing: 5px;
}
 @keyframes mainBlock {
	 0% {
		 width: 0%;
		 left: 0;
	}
	 50% {
		 width: 100%;
		 left: 0;
	}
	 100% {
		 width: 0;
		 left: 100%;
	}
}
 @keyframes secBlock {
	 0% {
		 width: 0%;
		 left: 0;
	}
	 50% {
		 width: 100%;
		 left: 0;
	}
	 100% {
		 width: 0;
		 left: 100%;
	}
}
 @keyframes mainFadeIn {
	 0% {
		 opacity: 0;
	}
	 100% {
		 opacity: 1;
	}
}
 @keyframes popIn {
	 0% {
		 width: 0px;
		 height: 0px;
		 background: #cf9784;
		 border: 0px solid #ddd;
		 opacity: 0;
	}
	 50% {
		 width: 10px;
		 height: 10px;
		 background: #cf9784;
		 opacity: 1;
		 bottom: 45px;
	}
	 65% {
		 width: 7px;
		 height: 7px;
		 bottom: 0px;
		 width: 15px;
	}
	 80% {
		 width: 10px;
		 height: 10px;
		 bottom: 20px;
	}
	 100% {
		 width: 7px;
		 height: 7px;
		 background: #cf9784;
		 border: 0px solid #222;
		 bottom: 13px;
	}
}
 @keyframes secFadeIn {
	 0% {
		 opacity: 0;
	}
	 100% {
		 opacity: 0.5;
	}
}
 footer {
	 width: 350px;
	 height: 80px;
	 background: #cf9784;
	 position: absolute;
	 right: 0;
	 bottom: -80px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 animation: top 0.8s forwards;
	 animation-delay: 4s;
}
 footer span {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 font-size: 12px;
	 color: #232323;
	 font-family: 'Oswald';
}
 footer span i {
	 margin-right: 25px;
	 font-size: 22px;
	 color: #232323;
	 animation: icon 2s forwards;
	 animation-delay: 4s;
	 opacity: 0;
}
 @keyframes top {
	 0% {
		 opacity: 0;
		 bottom: -80px;
	}
	 100% {
		 opacity: 1;
		 bottom: 0px;
	}
}
 @keyframes icon {
	 0% {
		 opacity: 0;
		 transform: scale(0);
	}
	 50% {
		 opacity: 1;
		 transform: scale(1.3) rotate(-2deg);
	}
	 100% {
		 opacity: 1;
		 bottom: 0px;
	}
}