.aboutme{
    background-color: black;
    color: white;
    width:100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
}

.skills{
    font-family: "Oswald";
    font-size: 32px;
    text-transform: uppercase;

}

.aboutme2{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

table{
    width: 100%;
    margin-top: 50px;
    margin-bottom: -100px;
    padding-bottom: 0px;
    align-items: center;
}

td{
    text-align: center;
    padding: 20px;
    font-family: "Oswald";
    letter-spacing: 3px;
    font-size: 32px;
    font-weight: 700;

    
}

.skills {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 70px);
    margin: 20px;
  }

.sklLine{
    position: relative;
    bottom: 8px;
    visibility: hidden;
    padding-left: 6px;
    color: #ffffff;
}
  .ProgWidth {
    padding: 0px 20px;
  }
  .skillDiv {
    height: 15px;
    width: 100%;
    background-color: gray;
  }
  .skillBar {
    display: block;
    height: 15px;
    background-color:#ffffff;
  }
  .p {
    display: flex;
    justify-content: space-between;
  }

  .htmlBar {
    width: 95%;
    animation: html 3s 1s 5 forwards;
  }
  .cssBar {
    width: 85%;
    animation: css 3s 1s 5 forwards;
  }
  .jsBar {
    width: 90%;
    animation: js 3s 1s 5 forwards;
  }
  
  .javaBar {
    width: 70%;
    animation: java 3s 1s 5 forwards;
  }
  .ccpBar {
    width: 80%;
    animation: ccp 3s 1s 5 forwards;
  }
  .reactBar {
    width: 10%;
    animation: react 3s 1s 5 forwards;
  }
  .nodeBar {
    width: 85%;
    animation: node 3s 1s 5 forwards;
  }
  .sqlBar {
    width: 85%;
    animation: sql 3s 1s 5 forwards;
  }
  
  @keyframes html {
    0% {
      width: 0%;
    }
    100% {
      width: 95%;
    }
  }
  @keyframes css {
    0% {
      width: 0%;
    }
    100% {
      width: 85%;
    }
  }
  @keyframes js {
    0% {
      width: 0%;
    }
    100% {
      width: 90%;
    }
  }
  @keyframes java {
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }
  @keyframes ccp {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
  }
  @keyframes react {
    0% {
      width: 0%;
    }
    100% {
      width: 90%;
    }
  }
  @keyframes node {
    0% {
      width: 0%;
    }
    100% {
      width: 85%;
    }
  }

  @keyframes sql {
    0% {
      width: 0%;
    }
    100% {
      width: 85%;
    }
  }